doctype html
html
  head
    title bookreader demo
    link#BRCSS(rel='stylesheet', type='text/css', href='/stylesheets/BookReader.css')
    // Custom CSS overrides
    link(rel='stylesheet', type='text/css', href='/stylesheets/BookReaderDemo.css')
    script(src='/javascripts/js/jquery.min.js')
    script(type='text/javascript', src='/javascripts/js/jquery-ui-1.8.5.custom.min.js')
    script(type='text/javascript', src='/javascripts/js/dragscrollable.js')
    script(type='text/javascript', src='/javascripts/jquery.colorbox-min.js')
    script(type='text/javascript', src='/javascripts/jquery.ui.ipad.js')
    script(type='text/javascript', src='/javascripts/jquery.bt.min.js')
    script(type='text/javascript', src='/javascripts/BookReader.js')
  body(style='background-color: ##939598;')
